bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.ecommerce.API/.idea/.name
.idea/.idea.ecommerce.API/.idea/encodings.xml
.idea/.idea.ecommerce.API/.idea/indexLayout.xml
.idea/.idea.ecommerce.API/.idea/projectSettingsUpdater.xml
.idea/.idea.ecommerce.API/.idea/vcs.xml
.idea/.idea.ecommerce.API/.idea/workspace.xml
ecommerce.API.sln.DotSettings.user
